<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Finanças</title>
    <link rel="stylesheet" href="/css/stylesAuth.css">
    <link rel="shortcut icon" href="/img/logo/favicon.svg" type="image/x-icon">
</head>
<body>
    <div class="container-primary">
        <div class="primary-logo">
            <img src="/img/logo/logo.svg" alt="Logomarca">
        </div>
        <div class="space">
            <div class="primary-form">
                {{{body}}}
            </div>
        </div>
    </div>
</body>
</html>