@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(Imagem/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 20px;

}

main{
    margin-top: 100px;
}

#novoJogo{
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.162);
    margin: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao{
    height: 100px;
    width: 100px;
    border-radius: 0px;
    border-color: transparent;
    background-color: lightgray;
    font-size: 5em;
    font-weight: bold;
}

.botao:hover{
    background-color: gray;
}

#tabuleiro{
    width: 315px;
    display: grid;
    gap: 5px;
    grid-template-columns: 100px 100px 100px;
}

footer{
    margin-top: 150px;
    text-align: center;
    color: white;
    background-color: rgb(22, 74, 93);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}